*{
    margin: 0px;
}
header{
    background-color:white;
}
.parents1{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding:10px 4px;
}

.child1{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
    color: #575757;

}
.button{
    background-color: #1d4ed8;
    padding: 10px;
    border-radius: 10px;
    color:white;
    font-weight: bold;

}
 /* header section done */